@use '/src/styles/constants/colors';

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: colors.$OUTSIDE;
}

.container {
  width: 360px;
  height: 720px;
  padding: 60px 40px 40px;
  background-color: colors.$BACKGROUND;
  border-radius: 60px;
}
