@use '/src/styles/constants/colors';

.main {
  padding-top: 50px;
}

.app {
  text-align: center;
}

.appLogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: appLogoSpin infinite 20s linear;
  }
}

.appHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: colors.$WHITE;
  background-color: #282c34;
}

.container {
  position: relative;
  width: 360px;
  height: 720px;
  padding: 60px 40px 40px;
  overflow: hidden;
  background-color: colors.$BACKGROUND;
  border-radius: 60px;
}
