@use '/src/styles/constants/colors';

.menuWrapper {
  position: absolute;
  z-index: 1;
  width: inherit;
  height: inherit;
  padding: 2rem 1rem;

  h4 {
    margin-bottom: 0.2rem;
    margin-left: 0.5rem;
    color: colors.$MENU_WHITE30P;
  }

  h2 {
    margin-left: 0.5rem;
    font-size: 1.3rem;
    color: colors.$WHITE;
  }
}
