@use '/src/styles/constants/colors';

.menuComponent {
  position: relative;
  width: 280px;
  height: 550px;
  margin: 0 auto;
  overflow: hidden;
  background-color: colors.$MENU_BACKGROUND;
  border-radius: 25px;

  .menuWrapper {
    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    padding: 2rem 1rem;

    h4 {
      color: colors.$MENU_WHITE30P;
    }

    h2 {
      font-size: 1.4rem;
      color: colors.$WHITE;
    }
  }

  .todoComponent {
    position: absolute;
    z-index: 10;
    width: 280px;
    height: 550px;
    background-color: #ffffff;
    border-radius: 25px;

    .iconWrapper {
      padding: 20px;

      .menuIcons {
        width: 50px;
        height: 50px;
        background-color: #44bd32;
      }
    }
  }
}
