@use '/src/styles/constants/colors';

.menuTabContainer {
  width: 250px;
  padding: 0 20px;
  overflow: hidden;
  list-style: none;
}

// menuTabItem
.menuTabItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;

  + .menuTabItemContainer {
    margin-top: 10px;
  }
}

.menuTabItemContainer:hover {
  background-color: rgba($color: colors.$MENUTAB_HOVERCOLOR, $alpha: 30%);
}

.itemContents {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  padding: 0 40px 0 30px;

  .title {
    display: inline-block;
    flex-grow: 2;
    color: colors.$WHITE;
  }

  .icon {
    display: inline-block;
    flex-grow: 1;

    svg {
      fill: colors.$MENUTAB_ICON;
    }
  }
}

.icon {
  svg {
    color: colors.$MENUTAB_ICON;
  }
}
