@use '/src/styles/constants/colors';
@import '/src/styles/mixins/flexbox';

.settingsPageHeader {
  @include flexbox(between, center);
  margin-bottom: 1rem;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    color: colors.$SECTION_TITLE;
    letter-spacing: 0.3px;
  }
}

.settingsPageMain {
  height: 500px;

  form {
    @include flexbox(start, left);
    flex-direction: column;
    margin: 2rem 0 1rem 0;

    label {
      margin-bottom: 0.2rem;
      font-size: 0.7rem;
      color: colors.$SECTION_TITLE;
    }

    input {
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      border: 1px solid colors.$SECTION_TITLE;
      border-radius: 0.5rem;
    }

    button {
      padding: 0.5rem;
      color: colors.$WHITE;
      background-color: colors.$MENUTAB_TITLE;
      border-radius: 0.5rem;
      transition: opacity 0.2s;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}
