$BACKGROUND: #ffffff;
$SHADOW: #bbbbbb;
$BLUE: #156ef6;
$GRAY: #808691;
$LIGHTBLUE: #b5c7e2;
$FONT: #494c52;
$WHITE: #ebecf0;

.form {
  position: relative;
  width: 258px;
  height: 217px;
  background: $BACKGROUND;
  border: 1px solid $BACKGROUND;
  border-radius: 30px;
  box-shadow: 1px 1px 10px $SHADOW;
}

.inputbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 60px;
  padding: auto 10px;
}

.input {
  position: absolute;
  width: 190px;
  height: 40px;
  padding-left: 4px;
  color: $GRAY;
  box-shadow: 1px 1px 10px $SHADOW inset;
}

.add {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  color: $BACKGROUND;
  background: $BLUE;
  border-radius: 50%;
}

.todolist {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 110px;
  margin-bottom: 7px;
  margin-left: 30px;
  overflow: scroll;
}

.category {
  width: 100%;
  height: 50px;
  padding: 8px;
  margin-bottom: 5px;
  color: $FONT;
  cursor: pointer;
  background: $WHITE;
  border-radius: 20px;
  transition: all 0.3s;

  &:hover {
    background: $LIGHTBLUE;
  }
}

.selected {
  background: $LIGHTBLUE;
}

.unselected {
  background: $WHITE;
}

.select {
  position: absolute;
  right: 20px;
  padding: 7px;
  color: $BACKGROUND;
  background: $BLUE;
  border-radius: 20px;
}
