@use '/src/styles/constants/colors';

.container {
  padding: 10px 0;
}

.wrapper {
  padding: 10px 0;
  overflow: scroll;
  white-space: nowrap;
}

.categoryBox {
  display: inline-block;
  width: 200px;
  height: 100px;
  padding: 20px 10px 10px;
  background-color: colors.$WHITE;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0 rgba(colors.$BLACK, 2%);

  + .categoryBox {
    margin-left: 15px;
  }

  .categoryCount {
    padding: 5px 0 0;
    font-size: 12px;
    color: colors.$GRAYA;
  }

  .categoryTitle {
    padding: 5px 0;
    font-size: 18px;
    font-weight: 600;
  }

  .categoryProgress {
    position: relative;
    width: 180px;
    height: 5px;
    margin-top: 10px;
    background-color: colors.$GRAYE;

    .categoryProgressTrack {
      height: 5px;
    }

    .categoryProgressThumb {
      position: absolute;
      top: -5px;
      width: 2px;
      height: 10px;
    }

    .blue {
      background-color: colors.$BLUE;
    }

    .pink {
      background-color: colors.$PINK;
    }
  }
}
