@use '/src/styles/constants/colors';

.container {
  padding: 10px 0;
}

.wrapper {
  padding: 10px 0;
  overflow: scroll;
  white-space: nowrap;
}

.categoryBox {
  display: inline-block;
  width: 200px;
  height: 100px;
  padding: 20px 10px 10px;
  background-color: colors.$WHITE;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0 rgba(colors.$BLACK, 2%);

  + .categoryBox {
    margin-left: 15px;
  }

  .categoryCount {
    padding: 5px 0 0;
    font-size: 12px;
    color: colors.$GRAYA;
    text-align: left;
  }

  .categoryTitle {
    padding: 5px 0;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
  }

  .categoryProgress {
    position: relative;
    width: 180px;
    height: 5px;
    margin-top: 10px;
    background-color: colors.$GRAYE;
    border-radius: 3px;

    .categoryProgressTrack {
      height: 5px;
      border-radius: 3px 0 0 3px;
      animation: track 1.5s ease;

      @keyframes track {
        0% {
          width: 0;
        }
      }
    }

    .categoryProgressThumb {
      position: absolute;
      top: -5px;
      left: 0;
      width: 4px;
      height: 10px;
      border-radius: 30% 30% 0 0;
      animation: slide 1.5s ease;

      @keyframes slide {
        0% {
          left: 0;
        }
      }
    }

    .personal {
      background-color: colors.$COLOR_PERSONAL;
    }

    .business {
      background-color: colors.$COLOR_BUSINESS;
    }

    .all {
      background-color: colors.$COLOR_ALL;
    }
  }
}
