// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$OUTSIDE: #d8dff7;
$BACKGROUND: #f9faff;

$SECTION_TITLE: #9da4cb;
$COLOR_PERSONAL: #106af9;
$COLOR_BUSINESS: #e100ff;
$COLOR_ALL: #000000;

$COLOR_ICON: #8290c4;
// MenuTab
$MENUTAB_TITLE: #bac2e3;
$MENUTAB_ICON: #6073a3;
$MENUTAB_HOVERCOLOR: #8e8e8e;
$MENU_WHITE30P: rgba(255, 255, 255, 30%);
$MENU_WHITE60P: rgba(255, 255, 255, 60%);
$MENU_BACKGROUND: #0d2260;
