.todoComponent {
  width: 280px;
  height: 550px;
  background-color: #ffffff;
  border-radius: 25px;
}

.menuComponent {
  width: 280px;
  height: 550px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #0d2260;
  border-radius: 25px;
}

.iconWrapper {
  padding: 20px;
}

.menuIcons {
  width: 50px;
  height: 50px;
  background-color: #44bd32;
}
