@use '/src/styles/constants/colors';

.background {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 262px;
  height: 222px;
  margin-top: 70px;
  overflow: scroll;
  background: rgba(0, 0, 0, 7%);
  border-radius: 30px;
}
