@use '/src/styles/constants/colors';

.background {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 388px;
  height: 400px;
  overflow: hidden;
  color: colors.$WHITE;
  text-align: center;
  background-color: #333333;
  border-radius: 100%;
  transition: all 1s ease-out;

  /* opacity: 0; */
  button {
    width: 50px;
    background-color: white;
    border-radius: 10px;
  }

  &.active {
    right: 0;
    bottom: 0;
    width: 325px;
    height: 690px;
    border-radius: 20px;

    /* opacity: 1; */
  }
}

.content {
  position: relative;
  width: 0;
  height: 0;
  margin-top: 70px;
  overflow: scroll;
  color: colors.$WHITE;
  background: blue;
  border-radius: 20px;
}
