$BACKGROUND: #ffffff;
$BORDER: #f2f2f5;
$CIRCLE: #156ef6;

$GRAY: #808691;

@mixin btnshape {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background: $BACKGROUND;
  border: 3px solid $BORDER;
}

.categorybtn {
  @include btnshape;
  width: 48px;
  border-radius: 50%;

  .category {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 2px solid $CIRCLE;
    border-radius: 50%;

    &::before {
      position: absolute;
      width: 12px;
      height: 12px;
      content: '';
      background: $CIRCLE;
      border-radius: 50%;
    }
  }
}

.xbtn {
  @include btnshape;
  width: 48px;
  border-radius: 50%;

  .xicon {
    font-size: 14px;
  }
}

.todaybtn {
  @include btnshape;
  width: 113px;
  border-radius: 30px;

  .calendaricon {
    font-size: 17px;
    color: $GRAY;

    &::after {
      padding-left: 10px;
      font-size: 15px;
      font-weight: 500;
      color: $GRAY;
      content: 'Today';
    }
  }
}
