@use '/src/styles/constants/colors';

.bigBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 15px 30px;
  font-weight: 700;
  color: colors.$WHITE;
  background-color: #0476ff;
  border-radius: 25px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 12%);

  svg {
    fill: colors.$WHITE;
  }
}

.background {
  height: 0;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: -200px;
  bottom: -400px;
  text-align: center;
  background-color: black;
  transition: all 1s ease-out;
  color: white;
  border-radius: 100%;
  background-color: #333;
  /* opacity: 0; */
  button {
    width: 50px;
    border-radius: 10px;
    background-color: white;
    color: #222;
  }
  &.active {
    height: 690px;
    width: 325px;
    border-radius: 20px;
    right: 0px;
    bottom: 0px;
    /* opacity: 1; */
  }
  overflow: hidden;
}

.content {
  color: white;
  height: 0;
  width: 0;
  margin-top: 70px;
  position: relative;
  overflow: scroll;
  background: blue;
  border-radius: 20px;
}
